@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<style>
    a {
        color: #d2a679;
    }
    a:hover {
            color:#b88c5a;
    }
</style>

<div class="row mt-5">
    <div>
        <section style="background-color: #3a2f2f; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
            <form id="account" method="post">
                <h2 style="color: #d2a679;" class="text-center">Acesse sua conta</h2>
                <hr style="border-color: #d2a679;" />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" />
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-add" style="background-color: #d2a679;">Entrar</button>
                </div>
                <div class="mt-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar-se</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmação de email</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
