@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<link rel="stylesheet" href="~/css/identity-amadeirado.css" />
<style>
    .margin-especifica {
        margin-left: 10px;
    }
</style>

<div class="register-container">
    <h1 class="title text-center">Gerencie sua conta</h1>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8 margin-especifica">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
